<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <a class="navbar-brand" routerLink="/dashboard">Spending Tracker</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">

    <ul  class="navbar-nav mr-auto">
      <li *ngIf="status" class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/dashboard">Dashboard</a>
      </li>
    </ul>
  </div>

  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <ul class="nav navbar-nav">
        <li *ngIf="status" class="nav-item">
          <label class="navbar-text">Balance: {{ user.balance }} {{ currency[user.currency] }}</label>
        </li>
        <li *ngIf="status" class="nav-item" style="margin-left: 1vh">
          <button type="button" class="btn btn-light" (click)="logout()">Logout</button>
        </li>
        <li *ngIf="!status" class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/register">Sign Up</a>
        </li>
        <li *ngIf="!status" class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/login">Login</a>
        </li>
      </ul>
    </ul>
  </div>
</nav>
