<div class="col-xs-1" align="center">
  <div class="container">
    <div class="row">
    <div class="col-sm">
      <div class="card border-success" style="max-width: 50rem;">
        <div class="card-header" style="background-color: darkseagreen; margin:0;">
          <h3 class="text-light" align="left">Your balance</h3>
        </div>
        <div class="card-body">
          <h2>{{ this.balance }} {{ currency[userService.user.getValue().currency] }}</h2>
        </div>
      </div>

      <br>
      <div class="card border-success" style="max-width: 50rem;">
        <div class="card-header" style="background-color: darkseagreen; margin:0;">
          <h3 class="text-light" align="left">Add money</h3>
        </div>
        <div class="card-body">
          <div class="input-group" style="margin-bottom: 0.5rem;">
            <input type="text" class="form-control" placeholder="Amount" name="amount" [(ngModel)]="this.balanceToAdd">
            <div class="input-group-apppend">
              <span class="input-group-text">{{ currency[this.userService.user.getValue().currency] }}</span>
            </div>
          </div>
          <input style="margin-bottom: 0.5rem;" class="btn btn-success" (click)="addBalance()" style="background-color: darkseagreen" name="submit" type="submit" value="Add spending" align="right"/>
        </div>
      </div>

      <br>
      <div class="card border-success" style="max-width: 50rem;">
        <div class="card-header" style="background-color: darkseagreen">
          <h3 class="text-light" align="left">Add spending</h3>
        </div>
        <div class="card-body">
          <div class="card">
            <div class="card-body">
              <form name="login" method="POST">
                <div class="input-group" style="margin-bottom: 0.5rem;">
                  <input type="text" class="form-control" [(ngModel)]="this.spendingToAdd.amount" placeholder="Amount" name="amount">
                  <div class="input-group-apppend">
                    <span class="input-group-text">{{ currency[this.userService.user.getValue().currency] }}</span>
                  </div>
                </div>
                <div class="input-group" style="margin-bottom: 0.5rem;">
                  <select [(ngModel)]="this.spendingToAdd.categoryId" class="form-control" [ngModelOptions]="{standalone: true}">
                    <option *ngFor="let category of this.categories" [ngValue]="category.id">{{ category.name }}</option>
                  </select>
                </div>
                <div class="input-group" style="margin-bottom: 0.5rem;">
                  <input style="color: darkseagreen" type="text" class="form-control" [(ngModel)]="this.spendingToAdd.description" placeholder="Description (optional)" name="description">
                </div>
                <input style="margin-bottom: 0.5rem;" class="btn btn-success" (click)="addSpending()" style="background-color: darkseagreen" name="submit" type="submit" value="Add spending" align="right"/>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col sm" align="right">
      <div class="card border-success" style="max-width: 50rem;">
        <div class="card-header" style="background-color: darkseagreen">
          <h3 class="text-light" align="left">Spending details</h3>
        </div>
        <div class="card-body">
          <div *ngFor="let item of this.spendings" class="card text-white border-danger mb-3" style="max-width: 30rem; margin:0;">
            <div class="card-header" align="left">
              <h5 class="d-inline-block card-title text-dark">-{{ item.amount }} {{ currency[item.currency] }}</h5>
              <h6 class="d-inline-block card-subtitle float-right margin-top text-dark" style="margin-top:.2rem;">{{ getDate(item.dateCreated) }}</h6>
            </div>
            <div class="card-body" align="left">
              <h5 class="card-title text-dark">{{ getCategoryNameById(item.categoryId) }}</h5>
              <div *ngIf="item.description"><h6 class="text-dark" style="font-weight: normal">{{ item.description }}</h6></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
